
/*ja realizado no "style_produtos.css" a parte 1 e parte 3. */



/* ------------------------------------- parte 2 -------------------------------------*/
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    
}

form label, form legend { /*a vergula ( , ) é para replicar as mesmas configurações*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input__padrao { /*a vergula ( , ) é para replicar as mesmas configurações*/
    display: block;   
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0 ; /*15px para cima e para baixo e 0 para os lados*/
    background: orange;

    color: white;
    font-weight: bold;
    font-size: 18px;

    border: none;
    border-radius: 5px;

    transition: 1s all; /*delay para mudar tudo = cor de fundo e quando ele aumentar*/

    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /*aumentar o botão em 20% */

    /*exs de transform:
     transform: rotate(70deg) ; ------ para inclinar o botão
     transform: rotate(70deg) scale(1.2); ---- para rodar é aumentar botão*/
     
}

table {
    margin: 20px 0 40px;
}

thead{
    background: #555555;

    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px ;
}
